.anchor {
    display: block;
    position: relative;
    top: -30vh;
    visibility: hidden;
}

.screenTop {
    position:fixed;
    background-color: #3a84ef;
    width:100%;
    justify-content:center;
    z-index: 100;
}

.header-stuff {
    height: 27vh;
}

#siteHeader {
    height: 16vh;
}

#headerPic{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.headers {
    height: 15vh;
    display: flex;
    align-items: center;

}

.navbar {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    width: 100vw;
}

.patreon {
    float: right;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 15px;
    height: 7vh;
}

.navbar-menu {
    margin: 0px;
    list-style-type: none;
}

.navbar a {
    float: top;
    color: white;
    font-size: medium;
    width: 14%;
    height: auto;
    float: left;
    text-align: center;
    line-height: 120px;
    vertical-align: middle;
    text-decoration: none;
    height: 99%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar li {
    position: relative;
    width: 13vw;
}

.home a:hover{
    font-weight: bold;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: .35px black;
    background-image: url('./background_images/homelink.jpg');
    background-size: 100% 100%;
}

.cosmo:hover{
    font-weight: bold;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: .35px black;
    background-image: url('./background_images/cosmolink.gif');
    background-size: 100% 100%;
}

.cosmo a:hover{
    font-weight: bold;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: .35px black;
    background-image: url('./background_images/cosmolink.gif');
    background-size: 100% 100%;
}

.intdes a:hover{
    font-weight: bold;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: .35px black;
    background-image: url('./background_images/idlink.gif');
    background-size: 100% 100%;
}

.morallaw a:hover{
    font-weight: bold;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: .35px black;
    background-image: url('./background_images/morallink.png');
    background-size: 100% 100%;
}

.reliability a:hover{
    font-weight: bold;
    font-size: 15px;
    color: black;
    -webkit-text-stroke: .35px white;
    background-image: url('./background_images/nttrue.jpg');
    background-size: 100% 100%;
}

.truth a:hover{
    font-weight: bold;
    font-size: 15px;
    color: black;
    -webkit-text-stroke: .35px white;
    vertical-align: top;
    background-image: url('./background_images/truthlink.gif');
    background-size: 100% 100%;
}

/*.rise a {
    transition: width 100ms;
    transition-timing-function: linear;
}*/

.rise a:hover{
  /*  z-index: 1001;
    width: 35%;
    position:absolute; */
    font-weight: bold;
    font-size: 15px;
    color: black;
    -webkit-text-stroke: .35px white;
    background-image: url('./background_images/riselink.gif');
    background-size: 100% 100%;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Styles for mobile devices (e.g., phones) */
@media (max-width: 480px) {
    .navbar {
        justify-content: center;
        align-content: center;
        display: block;
        overflow-y: scroll;
    }
    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #3a84ef;
        position: fixed;
        height: 100vh;
        z-index: 10000;
    }

    .navbar-menu.show {
        display: flex;
        height: 100vh;
        overflow-y: scroll;
    }

    .navbar-menu a {
        width: 90%;
        height: 10vh;
        padding: 15px;
        text-align: center;
        display: block;
    }

    .navbar-menu li {
        margin: 0;
        text-align: center;
        height: 10vh;
    }

    .navbar-toggle {
        display: flex;
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
    }
}