html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.snap {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    scroll-padding: 400px;
}

.no-snap {
    scroll-snap-align: none; /* Disable snapping for these sections */
}

.no-snap-container {
    scroll-snap-type: none; /* Disable snapping for the container of no-snap sections */
}